# Git configuration
# this is used in roles/git

## To create a github access token : https://github.com/settings/tokens
github_access_token: CHANGE_ME
git_name: mario
git_email: mario@mushroomkingdom.com