---
- hosts: localhost
  vars_files:
    - mario-configuration.yml

  post_tasks:
    # After the playbook run, tell it's over
    - name: It's a me, Mario!
      shell: 'say -v Luca "Itsami, Mario!"'

  roles:
    # THESE ROLES SHOULD BE RUN FIRST 👇

    # These are required by some other roles
    - whoami  # retrieving your bash username 
    - brew    # retrieving your installed brew packages
    - nodejs  # installing Node.js 14 LTS & retrieves globally installed npm packages
    - pip     # retrieving pip installed packages

    # THESE ROLES CAN BE RUN IN ANY ORDER 👇

    # macOS specific tips 🍎
    - aerial        # installs appletv like screen saver: https://aerialscreensaver.github.io
    - alfred        # installs Alfred, alternative to Spotlight: https://www.alfredapp.com
    - clean-dock    # remove all the stickies in the macOS dock, useful after a fresh install
    - clean-desktop # hides the files in the desktop (they are still there, just hidden)
    - rocket        # emoji picker: https://matthewpalmer.net/rocket
    - tiles         # window management: https://www.sempliva.com/tiles/ 
    - wallpaper     # sets a nice wallpaper 😏

    # Fonts ✨
    - firacode-font # a cool font for coding, with ligature (used in iTerm2 settings as well): https://github.com/tonsky/FiraCode

    # Command line helpers 🤓
    - zsh     # zsh config, see: roles/zsh/templates/.zshrc.j2
    - ohmyzsh # beautiful shell prompt and lots of aliases to make your life better: https://ohmyz.sh
    - jj      # jj is a json utility to find / update json keys easily:  https://github.com/tidwall/jj
    - bat     # cat alternative, with syntax coloring and cool stuffs: https://github.com/sharkdp/bat
    - htop    # cli alternative to "top" process viewer: https://htop.dev
    - thefuck # helper that corrects you when you mistyped a command: https://github.com/nvbn/thefuck
    - wget    # macOS equivalent to linux wget for downloading files in cli

    # Git related 🤓
    # This one adds a lot of things:
    # * configures your user based on mario-configuration.yml
    # * adds some cool git aliases (see roles/git/templates/.gitconfig.j2)
    # * adds a gitglobalignore file (see roles/git/templates/.gitglobalignore.j2)
    # * installs git-recent to display recently used branches: https://github.com/paulirish/git-recent
    # * installs gitmoji-cli to commit cool emojis: https://github.com/carloscuesta/gitmoji-cli
    # * installs delta for beautiful diffs: https://github.com/dandavison/delta
    - git     
    - github # Adds an ssh key to github with the github token in mario-configuration.yml (if not empty)
    - gti    # Display a golf gti animation if you mispell git: https://github.com/rwos/gti 🚙

    # Tech stack 🤓
    - iTerm2     # a cool alternative to macOS default terminal: https://iterm2.com/
    - php        # see mario-configuration.yml.dist to see how to add specific php versions
    - laravel    # ⚠️ need the php role, installs laravel installer: https://laravel.com/docs/8.x/installation#the-laravel-installer
    - valet      # ⚠️ need the php role, installs laravel valet: https://laravel.com/docs/8.x/valet 
    - mariadb    # MySQL but open source: https://mariadb.org/
    - redis      # Redis database: https://redis.io/
    - sequel-ace # database management GUI: https://github.com/Sequel-Ace/Sequel-Ace
    - supervisor # process controll system: http://supervisord.org
    - yarn       # Javascript build tool: https://yarnpkg.com/
    # - @TODO vagrant

    # Everyday softwares 🌞
    - 1password     # password manager: https://1password.com
    - alfred        # alternative to Spotlight: https://www.alfredapp.com
    - dashlane      # password manager: https://www.dashlane.com
    - discord       # audio/video chat: https://discord.com/brand-new
    - firefox       # https://www.mozilla.org/firefox/new
    - google-chrome # https://www.google.com/chrome
    - keybase       # secure messaging app: https://keybase.io
    - slack         # messaging for teams: https://slack.com
    - spotify       # streaming music: https://www.spotify.com/fr
    - steam         # game store: https://store.steampowered.com
    - typora        # simple markdown editor: https://typora.io
    - vlc           # video viewer: https://www.videolan.org/vlc
    - vscode        # @TODO sync settings
