#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/home/{{ bash_username }}/bin/prusa-slicer
Name=Prusa Slicer
Comment=Prusa Slicer
Icon=/home/{{ bash_username }}/bin/prusa-slicer-logo.png