---
- name: Copying .zshrc file
  template:
    src: .zshrc.j2
    dest: "{{ home_directory }}/.zshrc"
    mode: u+x
  register: zshrc_copy

- name: Copying bash scripts to ~/bin
  copy:
    src: bin
    dest: "{{ home_directory }}"
    mode: u+x,g+x,o+x

- name: Checking if oh-my-zsh is installed
  stat:
    path: "{{ home_directory }}/.oh-my-zsh"
  register: zsh_install_directory

- name: Downloading oh-my-zsh
  get_url:
    url: https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh
    dest: ~/install-ohmyzsh.sh
    mode: +x
  when: zsh_install_directory.stat.exists == false
  register: install_ohmyzsh

- name: Installing oh-my-zsh
  command: ~/install-ohmyzsh.sh
  when: zsh_install_directory.stat.exists == false

- name: Fixing /usr/local/share/zsh permissions
  file:
    path: /usr/local/share/zsh
    mode: g-w
    recurse: yes

- name: Deleting oh-my-zsh install.sh
  file:
    path: ~/install-ohmyzsh.sh
    state: absent

- name: Change user shell to zsh 
  user:
    name: "{{ bash_username }}"
    shell: /bin/zsh

- name: Source zsh
  shell: source {{ home_directory }}/.zshrc
