[core]
    precomposeunicode = false
    editor = vim -c 'startinsert' 
    excludesfile = ~/.gitglobalignore
    pager = diff-so-fancy | less --tabs=1,5 -R

[pull]
    rebase = false

[alias]
    recent = 'for-each-ref --sort=-committerdate --count=10 --format='%(refname:short)' refs/heads/'
    st = status -sb
    mvi = !sh -c 'git mv $0 foo.bar; git mv foo.bar $1'
    next = !sh -c 'git log --reverse --format=%H `git rev-parse --verify HEAD`..master | head -1 | xargs git checkout'
    previous = checkout HEAD~1
    amend = commit --amend --no-edit
    rebase-master = pull --rebase origin master
    pushu = !git push -u origin "$(git rev-parse --abbrev-ref HEAD)"

    # use like 'git date "2020-02-14"'
    date = "!f() { date=${1-Jan 01 2020}; git checkout `git rev-list -1 --before=\"$date\" master`;  }; f"

[color]
    ui = true

[push]
    default = simple

[merge]
    tool = diffmerge

[includeIf "gitdir:{{ git_directory }}/"]
    path = .gitconfig_personal

[includeIf "gitdir:{{ git_work_directory }}/"]
    path = .gitconfig_work