#!/bin/bash

# history configuraton
HISTCONTROL=ignoredups # do not store dupplicate commands in history
HISTSIZE=1000 # increase history size

# aliases
alias histogrep='history | grep'
alias reloud='relou'
alias fu='fuck'
alias aws-login='$(aws ecr get-login --no-include-email)'

eval "$(thefuck --alias)"

# ~/bin contains this repository custom scripts to the path
PATH=$PATH:~/bin:/snap/bin:~/.composer/vendor/bin

# useful for accessing any project directory from anywhere using cd
WORKSPACE_DIRECTORY="/home/{{ bash_username }}/Workspace"
WORKSPACE_WORK_DIRECTORY="/home//{{ bash_username }}/Workspace/Yousign"
CDPATH=$CDPATH:$WORKSPACE_DIRECTORY:$WORKSPACE_WORK_DIRECTORY:~

# Specific uid hack
export FIXUID=$(id -u)
export FIXGID=$(id -g)

# prompt
source refresh_prompt

cd $WORKSPACE_DIRECTORY
